{% if page.url != "/" %}
<header class="title">
	<a href="/"><img src="{{site.icon | prepend: site.baseurl}}"><span>Back</span></a>
</header>
{% endif %}

<nav class="wrapper {% if page.featured == true %} featured {% endif %} {% if site.theme_always_show_nav == true %} alwaysshow {% endif %}">
	<a href="#" onclick="return false;"><i class="fa fa-navicon fa-lg"></i></a>
	<ul>
		{% for page in site.pages %}
			{% if page.title %}<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}
		{% endfor %}
      <li><a href="https://dotfiles.codearsonist.com">dotfiles</a></li>
      <li><a href="https://resume.codearsonist.com/print">resume</a></li>
      <li><a href="https://codearsonist.com/reading">i.❤️📃.ws</a></li>
      <li><a href="{{ site.podcast_url }}">chwast|it</a></li>
	</ul>
</nav>
